footer{
    background:  #1575ba;
    padding:3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a{
    color: var(--bg-color)
}

.app__footer-logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.app__footer-permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
    margin: 0 auto 3rem;
}

.app__footer-socials{
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-bottom: 4rem;
}

.app__footer-socials a{
    background: var(--bg-color);
    display: flex;
    color: var(--white-color);
    padding: 0.8rem;
    border-radius: 0.7rem;
    border: 1px solid transparent;
}

.app__footer-socials a:hover{
    background: transparent;
    color: var(--bg-color);
    border-color: var(--bg-color)
}

.app__footer-copyright{
    margin-bottom: 4rem;
    color: var(--bg-color);
}

/*Media queries small devices*/
@media screen and (max-width:600px){
    
    .app__footer-permalinks{
        flex-direction: column;
        gap:1.5rem;
    }

    .app__footer-socials{
        margin-bottom: 2.6rem;
    }

}

